<footer class="footer">
	<p class="footer__description">
		<span class="description__data"
			>Typemaster <time class="data__year" datetime="2021">2021</time></span
		>
		 | <span class="description__reversed">All Rights Reserved</span>
	</p>
</footer>

<style>
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 91%;
		margin-bottom: 3em; /* 48px */
	}

	.footer__description {
		display: flex;
		gap: 0.5em;
		font-size: 1rem; /* 16px*/
		color: var(--text-color);
	}

	/* 829px */
	@media screen and (height <= 51.8125em) {
		.footer {
			view-timeline-name: --scroll;
			view-timeline-axis: block;
			animation-timeline: --scroll;
			animation-name: show;
			animation-range: entry 1% cover 5%;
			animation-fill-mode: both;
		}

		@keyframes show {
			from {
				opacity: 0;
				scale: 25%;
			}
			to {
				opacity: 1;
				scale: 100%;
			}
		}
	}

	/* 768px */
	@media screen and (width >= 48em) {
		.footer {
			margin-bottom: 2.5em; /* 40 */
			max-width: 82em; /* 1312px */
		}
	}
</style>
