<section class="main__section--typemaster">
	<h2 class="typemaster__title">Typemaster Keyboard</h2>
	<p class="typemaster__description">
		Improve your productivity and gaming without breaking the bank. Upgrade to a
		high quality mechanical typing experience.
	</p>
	<div class="typemaster__container-data">
		<a href="/">PRE-ORDER NOW</a>
		<p>Release on <time datetime="2027-05">5/27</time></p>
	</div>
	<picture class="typemaster__picture">
		<source
			class="picture__source"
			srcset="/images/jpg/desktop/image-keyboard.jpg"
			media="(width >= 90em)"
		/>
		<source
			class="picture__source"
			srcset="/images/jpg/tablet/image-keyboard.jpg"
			media="(width >= 48em)"
		/>
		<img
			class="typemaster__image"
			src="/images/jpg/mobile/image-keyboard.jpg"
			alt="Black keyboard with red and gray colors."
		/>
	</picture>
</section>
